@(form: Form[UrlField])(implicit messages: play.api.i18n.Messages, request: RequestHeader)

@main("Turn Down For What!") {

@if(form.hasGlobalErrors) {
<ul>
    @for(error <- form.globalErrors) {
    <li>@error.message</li>
    }
</ul>
}

@helper.form(routes.Application.create, 'class -> "form-inline") {
<input class="form-control" type="text" id="url" name="url" value="" style="width: 200px;"> <button class="btn btn-default" type="submit">Create URL</button>


<p><a href="/urlmappings">List All URLS (Testing Convenience)</a></p>
}

}